<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Nickname</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 th:if="${loggedInUser != null}">Добро пожаловать, <span th:text="${loggedInUser.username}"></span>!</h1>
    <h1 th:if="${loggedInUser == null}">Пожалуйста, войдите в систему.</h1>

    <!-- Форма для изменения никнейма -->
    <form id="nicknameForm" action="/updateNickname" method="post" th:if="${loggedInUser != null}">
        <label for="nickname">Введите ваш никнейм:</label>
        <input type="text" id="nickname" name="newNickname"
               th:value="${loggedInUser.nickname}" required>
        <button type="submit" class="submit-button">Сохранить</button>
    </form>
</div>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
