<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/register.css}">
  <script src="/js/registration.js" defer></script> <!-- Подключаем скрипт регистрации -->
</head>
<body>
<div class="register-container">
  <h1>Register</h1>
  <div id="messageContainer" class="message"></div> <!-- Контейнер для сообщений об ошибках -->
  <form id="registrationForm" action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Register</button>
  </form>
  <p><a th:href="@{/login}">Back to login</a></p>
</div>
</body>
</html>
